 body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
}

.bg-color {
  background-color: #F7B617;
}

.taxi-image , .taxi-image-mobile {
  background-image: url(../assets/images/taxi.jpg);
  background-position-x: 50%;
  background-position-y: 92%;
  background-size: cover;
  height: 100vh;
}

.register-section {
  padding: 20px;
  margin-top: 15vh;
  color: white;
}

.register-section hr {
  width: 13vw;
}

.register-section span {
  font-size: 1rem;
}

.register-section-mobile {
  padding: 10px;
  margin-top: 30vh;
  color: white;
  padding-left: 30px;
}

.phone-image div {
  width: 80vw;
}

.phone-image img {
  height: 60vh;
}

.phone-image h1 {
  font-size: 1.60rem;
}

.phone-image-mobile div {
  width: 88vw;
}

.phone-image-mobile h1 {
  font-size: 1.6rem;
  padding-left: 130px;
}

.phone-image-mobile h2 {
  font-size: 1.2rem;
}

.driver {
  background-image: url(../assets/images/conduce.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.driver-section {
  background: rgba(0, 0, 0, 0.5); 
  color: white;
  height: 70vh;
}

.driver-section h2 {
  padding-top: 70px;
}

.map input[type='text'] , .map-mobile input[type='text'] {
  border-radius: 8px;
  border: 1px solid white;
  color: white;
}

footer {
  background-color: #2B2B2B;
  height: 100vh;
}

footer a , footer a:hover {
  text-decoration: none;
  color: white;
}





